.cruise-header-container{
    background-image: url("https://img.freepik.com/premium-photo/aerial-view-beautiful-white-cruise-ship-luxury-cruise-ocean-sea-early-morning-time-concept-tourism-travel-holiday-take-vacation-time-summer_33850-507.jpg?w=1380");
}
.cruise-data-container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
   margin: auto;
   width: 80%;
   margin-top: 5%;
   gap: 50px;
}